
<!DOCTYPE html>
<html lang="en">
    <title>Core | {{page}}</title>
    {% include 'tasks/layouts/header.html' %}
    
   
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
        <!-- Main NavBar Container -->
            
        <!-- Main NavBar Container -->

        <!-- Main Sidebar Container -->
            
        <!-- Main Sidebar Container -->
            
        <!-- Main HeadBody Container -->    
           
        <!-- Main Content Container -->
            {% block content %}
            {% endblock content %}
        <!-- Main Content Container -->
            </div>
        <!-- Main Footer Container -->
            
        <!-- Main Footer Container -->
        </div>
        
            <!-- ./wrapper -->
        
    </body>
</html>