{% extends "tasks/layouts/layout_pop.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    
    <form method="POST" >
      {% csrf_token %}
        <div class="card card-primary" style="margin:1% 10% 0% 10%; " id="testapp">
            <div class="card-header">
              <div class="form-row">
                
                <div class="col-sm-6">
                  <h3 class="card-title"><b>Protocolo: {{ protocolo }}</b></h3>
                </div>
                <div class="col-sm-6" style="text-align-last: right;">
                  <h5 style="text-align-last: right;"><b>Data abertura: {{today}}</b> </h5> 
                </div>
              </div>
              
              
              
           
            
              
            </div>  
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" id="tickets_id">
              <div class="card-body">
                <div class="form-row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                        
                      </div>
                  </div>
                  
              </div>
              
              <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <h4>Cliente: {{cliente}}</h4>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <h4 >Responsavel: {{responsavel}} </h4>
                  </div>
                </div>

              </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label for="type">Setor:</label>
                          <select name="assunto" id="assunto" v-model="assunto" class="select form-control" v-on:click="clk_as($event)">
                            <option v-for="option in assunto_options" v-bind:value="option.id">[[option.text]]</option>
                          </select> 
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                          <br>
                          <h4>Empresa: {{empresa}}</h4>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label for="type">Assunto:</label>
                          <select name="tipo" id="tipo" v-model="tipo" class="select form-control"  v-on:click="clk($event)" >
                            <option   v-for="option in tipo_options[assunto]" v-bind:value="option.id" >[[option.text]]</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-sm-2">
                    
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        {{ form.service|as_crispy_field }} 
                      </div>
                  </div>
                  
                  
                </div>
                <div class="form-row">
                  <div class="col-sm-12">
                      <div class="form-group" rows="10" style="height:100%;">
                        {{ form.descri|as_crispy_field }}
                      </div>
                  </div>
                  
                </div>
                
              </div>
              <!-- /.card-body -->
              
              <div class="card-footer">
                <input type="hidden" name="responsavel" value="{{responsavel}}" maxlength="30" required id="id_responsavel"> 
                <input type="hidden" name="protocolo" value= "{{protocolo}}" maxlength="30" required id="id_protocolo" > 
                <input type="hidden" name="id_ligacao" value="{{id_lig}}" maxlength="30" required id="id_ligacao">
                <input type="hidden" name="data_abertura" value="{{data_abertura}}" maxlength="30" required id="data_abertura">
                <input type="hidden" name="empresa" value= '{{empresa}}' maxlength="30" required id="empresa">
                <input type="hidden" name="tipo" :value= "key" maxlength="30" required id="id_tipo">
                <input type="hidden" name="assunto" :value= "key_as" maxlength="30" required id="id_assunto">
                
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary float-right" href="{% url 'index' %}">Voltar ao Início</a>
              </div>
            </form>
          </div>   
          <script>
            new Vue({
                el: '#testapp',
                delimiters: ['[[', ']]'], 
                data: {
                    key: "",
                    key_as:"",
                    as_index : 0,
                    assunto : null,
                    tipo : null,
                    assunto_options : [],
                    tipo_options : {},
                },
                methods: {
                  make: function(){
                      this.assunto_options = [
                        {text : "Suporte",
                        id : 1},
                        {text : "Financeiro",
                        id : 2},
                        {text : "Comercial",
                        id : 3},

                      ]
                      this.tipo_options = {
                        1: [
                          {text: 'SEM CONEXÃO',
                          id:1},
                          {text: 'LENTIDÃO',
                          id:2},
                          {text: 'OSCILAÇÃO',
                          id:3},
                          {text: 'DIRECIONAMENTO DE PORTAS',
                          id:4},
                          {text: 'ALTERAÇÃO DE SENHA',
                          id:5},
                          {text: 'MASSIVA',
                          id:6},
                          {text: 'PROBLEMAS EM SITE/JOGO ESPECIFICO',
                          id:7},
                        ],
                        2: [
                          {text: 'BOLETO',
                          id:1},
                          {text: 'DESBLOQUEIO',
                          id:2},
                          {text: 'BOLETO',
                          id:3}],

                        3: [{text: 'ALTERAÇÃO DE PLANO',
                          id:1}],
                        
                      }
                    },
                    clk: function(event){
                      this.key = this.tipo_options[this.as_index][event.target.value-1].text;
                      console.log(this.key);
                    },
                    clk_as: function(event){
                      this.key_as = this.assunto_options[event.target.value-1].text;
                      this.as_index = event.target.value;
                      console.log(this.key_as);
                    }
                },
                created: function () {
                  console.log('asd');
                  this.make();
                },
  
              })
              
          </script>
{% endblock %}