{% extends "tasks/layouts/layout_pop.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    
    <form method="POST">
      {% csrf_token %}
        <div class="card card-primary" style="margin:1% 10% 0% 10%; ">
            <div class="card-header">
              <div class="form-row">
                
                <div class="col-sm-6">
                  <h3 class="card-title"><b>Ticket: {{ protocolo }}</b></h3>
                </div>
                <div class="col-sm-6" style="text-align-last: right;">
                  <h5 style="text-align-last: right;"><b>Data abertura: {{today}}</b> </h5> 
                </div>
              </div>
              
              
              
           
            
              
            </div>  
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="form-row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                        
                      </div>
                  </div>
                  
              </div>
              
              <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <h4>Cliente: {{cliente}}</h4>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <h4 >Responsavel: {{responsavel}} </h4>
                  </div>
                </div>

              </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.assunto|as_crispy_field }} 
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                          <br>
                          <h4>Empresa: {{empresa}}</h4>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        {{ form.tipo|as_crispy_field }} 
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        {{ form.service|as_crispy_field }} 
                      </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      {{ form.status|as_crispy_field }}
                    </div>
                  </div>
                  
                </div>
                <div class="form-row">
                  <div class="col-sm-12">
                      <div class="form-group">
                        {{ form.descri|as_crispy_field }}
                      </div>
                  </div>
                  
                </div>
                
              </div>
              <!-- /.card-body -->
              
              <div class="card-footer">
                <input type="hidden" name="responsavel" value="{{responsavel}}" maxlength="30" required id="id_responsavel"> 
                <input type="hidden" name="protocolo" value= "{{protocolo}}" maxlength="30" required id="id_protocolo">
                <input type="hidden" name="id_ligacao" value="{{id_lig}}" maxlength="30" required id="id_ligacao">
                <input type="hidden" name="data_abertura" value="{{data_abertura}}" maxlength="30" required id="data_abertura">
                <input type="hidden" name="empresa" value= {{empresa}} maxlength="30" required id="empresa">
                
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary float-right" href="{% url 'index' %}">Voltar ao Início</a>
              </div>
            </form>
          </div>   
{% endblock %}