{% extends "tasks/layouts/layout2.html" %}
{% load static %}
{% block content %}
      <!-- Content Wrapper. Contains page content -->
      
        <!-- Content Header (Page header) -->
        
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                 
                  <div class="inner" >
                    
                    <h4>Pontuação </h4>
                    
                    <h3>{{pontuacao}}</h3> 
                  

                  </div>
                  
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a href="{% url 'empresas' %}" class="small-box-footer">Mais Informação <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h4>Receita Total Empresas {{list_size}}</h4>
                    
                    <h3>{{receita_total}}</h3> 
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'empresas' %}" class="small-box-footer">Mais Informação <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    
                    <h4>Total Chamados</h4>
                    <h3>{{total_tickets}}</h3>
    
                    
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  <a href="{% url 'empresas' %}" class="small-box-footer">Mais Informação <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box {%if total_chamados < 10000000 %}bg-danger{% else %}bg-warning{%endif%}">
                  <div class="inner">
                    <h4>Tickets Abertos</h4>
                    <h3>{{tickets_user}}</h3>
    
                    
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="{% url 'tk_rel' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
              <!-- Left col -->
              <section class="col-lg-7 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-chart-pie mr-1"></i>
                      Sales
                    </h3>
                    <div class="card-tools">
                      <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                          <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                        </li>
                      </ul>
                    </div>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content p-0">
                      <table style="width:100%">
                        <tr>
                          <th>NOME</th>
                          <th>CNPJ</th>
                          <th>PACOTE</th>
                          <th>VALOR</th>
                          <th>EXCEDENTE</th>
                        </tr>
                        {% for sub_items in my_list %}
                        
                        <tr>
                          <td>{{sub_items.name}}</td>
                          <td>{{sub_items.cnpj}}</td>
                          <td>{{sub_items.contract_pack}}</td>
                          <td>R$ {{sub_items.contract_value}}</td>
                          <td>R$ {{sub_items.excedent  }}</td>
                        </tr>
                        {% endfor %}
                      </table>
                      
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
    
                <!-- DIRECT CHAT -->
                
                <!--/.direct-chat -->
    
                <!-- TO DO List -->
                
                <!-- /.card -->
              </section>
              <!-- /.Left col -->
              <!-- right col (We are only adding the ID to make the widgets sortable)-->
              <section class="col-lg-5 connectedSortable">
    
                <!-- Map card -->
                <div class="card bg-gradient-primary">
                  <div class="card-header border-0">
                    <h3 class="card-title">
                      <i class="fas fa-map-marker-alt mr-1"></i>
                      Visitors
                    </h3>
                    <!-- card tools -->
                    <div class="card-tools">
                      <button type="button"
                              class="btn btn-primary btn-sm daterange"
                              data-toggle="tooltip"
                              title="Date range">
                        <i class="far fa-calendar-alt"></i>
                      </button>
                      <button type="button"
                              class="btn btn-primary btn-sm"
                              data-card-widget="collapse"
                              data-toggle="tooltip"
                              title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                    <!-- /.card-tools -->
                  </div>
                  <div class="card-body">
                    
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Area Chart</h3>
        
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                      </div>
                      <div class="card-body">
                        
                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>
                  <!-- /.card-body-->
                  <div class="card-footer bg-transparent">
                    <div class="row">
                      <div class="col-4 text-center">
                        <div id="sparkline-1"></div>
                        <div class="text-white">Visitors</div>
                      </div>
                      <!-- ./col -->
                      <div class="col-4 text-center">
                        <div id="sparkline-2"></div>
                        <div class="text-white">Online</div>
                      </div>
                      <!-- ./col -->
                      <div class="col-4 text-center">
                        <div id="sparkline-3"></div>
                        <div class="text-white">Sales</div>
                      </div>
                      <!-- ./col -->
                    </div>
                    <!-- /.row -->
                  </div>
                </div>
                <!-- /.card -->
    
                <!-- solid sales graph -->
                
                <!-- /.card -->
    
               
              </section>
              <!-- right col -->
            </div>
            <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
          <div class="position-relative mb-4"> 
            <canvas id="areaChart" height="200"></canvas>
          </div>
          <div id="app3">
            <la-cartesian :width="900" :height="200" :data="values">
                <la-line prop="pv"></la-line>
                <la-y-axis></la-y-axis>
                <la-x-axis prop="name"></la-x-axis>
                <la-tooltip></la-tooltip>
          </la-cartesian>
        </div>
        
        <script src="//unpkg.com/vue"></script>
        <script src="//unpkg.com/laue"></script>
        <script>
            new Vue({
                el: '#app3',
                data: () => ({
                    values: [
                      {% for sub_items in my_list %}
                        { name: '{{sub_items.name}}', pv: '{{sub_items.contract_pack}}' },
                      {% endfor %}
                    ],
                    
                })
            })
        </script>
        </section>
        <!-- /.content -->
        
     
        
       
{% endblock content %}

