{% extends "tasks/layouts/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}    
    
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="card card-primary" style="margin:1% 10% 0% 10%" id="testapp">
            <div class="card-header">
              <h3 class="card-title"><b>Usuário</b></h3>
            </div>

            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="form-row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <h4>Data Registro: {{today}}</h4>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                        <h4>Responsavel: {{request.user}} </h4>
                      </div>
                  </div>
              </div>
              <div class="form-row">
                
                
                <div class="col-sm-4">
                  <div class="form-group">
                    <div id="div_id_login" class="form-group">
                      <label for="id_login">Login</label>
                      <div>
                        <input type="text" id="id_login" name="login" maxlength="30" class="textdinput textInput form-control">
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div id="div_id_password" class="form-group">
                      <label for="id_password">Senha</label>
                      <div>
                        <input type="password" id="id_password" name="password" maxlength="30" class="passwordinput passwordInput form-control">
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      {{ form.cargo|as_crispy_field }}
                    </div>
                </div>
            </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <div id="div_id_name" class="form-group">
                            <label for="id_name">Nome</label>
                            <div>
                              <input type="text" id="id_name" name="name" maxlength="30" class="textinput textInput form-control">
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.ramal|as_crispy_field }} 
                        </div>
                    </div>
                </div>
                
                
                <div class="form-row">
                  
                  <div class="col-sm-4">
                      <div class="form-group">
                        {{ form.cpf|as_crispy_field }}
                      </div>
                  </div>
                  <div class="col-sm-4">
                    
                      
                      {{ form.foto|as_crispy_field }}
                    
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div id="div_id_email" class="form-group">
                      <label for="id_email">EMail</label>
                      <div>
                        <input type="text" id="id_email" name="email" maxlength="40" class="textinput textInput form-control">
                      </div>
                      </div>
                      </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-4">
                      <div class="form-group">
                        {{ form.banco|as_crispy_field }}
                      </div>
                  </div>
                  
                
                
                  <div class="col-sm-4">
                      <div class="form-group">
                        {{ form.agencia|as_crispy_field }}
                      </div>
                  </div>
                  
                
                
                    <div class="col-sm-4">
                        <div class="form-group">
                          {{ form.conta|as_crispy_field }}
                        </div>
                    </div>
                    
                  </div>
                  <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                          {{ form.endereco|as_crispy_field }}
                        </div>
                    </div>
                    
                  </div>
              </div>
              <!-- /.card-body -->
              
              <div class="card-footer">
                <!-- <input type="hidden" name="nome" value="{{responsavel}}" maxlength="30" required id="id_responsavel">
                <input type="hidden" name="data_abertura" value={{date}} required id="id_data_abertura"> 
                <input type="hidden" name="protocolo" value= {{protocolo}} maxlength="30" required id="id_protocolo">
                <input type="hidden" name="id_ligacao" value= "123" maxlength="30" required id="id_id_ligacao">
                <input type="hidden" name="tipo" :value= "key" maxlength="30" required id="id_tipo">
                <input type="hidden" name="assunto" :value= "key_as" maxlength="30" required id="id_assunto">
                 -->
                <!-- <input type="hidden" name="email" value= "gagudee@gmail.com" maxlength="30" required id="id_email">
                --><button type="submit" class="btn btn-primary">Submit</button> 
                <a class="btn btn-secondary float-right" href="{% url 'index' %}">Voltar ao Início</a>
              </div>
            </form>
          </div>   
          <script src="//unpkg.com/vue"></script>
          <script src="//unpkg.com/laue"></script>
          <script>
            new Vue({
                el: '#testapp',
                delimiters: ['[[', ']]'], 
                data: {
                    key: "",
                    key_as:"",
                    as_index : 0,
                    assunto : null,
                    tipo : null,
                    assunto_options : [],
                    tipo_options : {},
                },
                methods: {
                  make: function(){
                      this.assunto_options = [
                        {text : "Suporte",
                        id : 1},
                        {text : "Financeiro",
                        id : 2},
                        {text : "Comercial",
                        id : 3},

                      ]
                      this.tipo_options = {
                        1: [
                          {text: 'SEM CONEXÃO',
                          id:1},
                          {text: 'LENTIDÃO',
                          id:2},
                          {text: 'OSCILAÇÃO',
                          id:3},
                          {text: 'DIRECIONAMENTO DE PORTAS',
                          id:4},
                          {text: 'ALTERAÇÃO DE SENHA',
                          id:5},
                          {text: 'MASSIVA',
                          id:6},
                          {text: 'PROBLEMAS EM SITE/JOGO ESPECIFICO',
                          id:7},
                        ],
                        2: [
                          {text: 'BOLETO',
                          id:1},
                          {text: 'DESBLOQUEIO',
                          id:2},
                          {text: 'BOLETO',
                          id:3}],

                        3: [{text: 'ALTERAÇÃO DE PLANO',
                          id:1}],
                        
                      }
                    },
                    clk: function(event){
                      this.key = this.tipo_options[this.as_index][event.target.value-1].text;
                      console.log(this.key);
                    },
                    clk_as: function(event){
                      this.key_as = this.assunto_options[event.target.value-1].text;
                      this.as_index = event.target.value;
                      console.log(this.key_as);
                    }
                },
                created: function () {
                  console.log('asd');
                  this.make();
                },
  
              })
              
          </script>
{% endblock %}